@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  text-align: center;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

html {
  height: 100%;
}

body { 
  justify-content: space-between;
  text-align:initial ;
  background:linear-gradient(90deg, #080349 10%, #060470 90%); /* W3C */
  background-size:100%;
  font-family: 'Raleway', sans-serif; 
  font-size: 30px; 
}

h1{
	color: aliceblue;
	font-size: 92px;
	margin-top: 2%;
}
#header-container {
  position: relative;

  text-align:center;
  margin-top: 15%;

  display: block;
  margin-left: auto;
  margin-right: auto ;
}

/* Select style here */

select {
  margin: 0 auto;
  color: #0e1983;
  text-align: center;
  width: 800px;
  padding: 15px;
  height: 50px;
  cursor: pointer;
  background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat white;
}
/* scritta sopra  */
select:hover {
  background-color: transparent;
  text-align: center;
  color: white;
  padding: 50px 5px 20px 25px;
}

select option {
  background-color: white;
  color: gray;
  text-align: center;
  width: 800px;
  padding: 10px 15px;
  height: 50px;
  cursor: pointer;
}
/* rientranza */
select option:hover {
  padding-left: 25px;
  width: 75%;
  color: #0e1983;
}
.poltot{
  position: absolute;
  width: 50%;
  height: 65%;
  top: 30%;
  left: 2%;
  resize:both;
  overflow:hidden;
  box-sizing: border-box;
}
.img{
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  transform: translate(150%,50%);
  border-bottom: 1px solid #e3f1d5;
  border: 0;
  font-size: 16px;
}
input[type = submit] {
  position: absolute;
  color: aliceblue;
  transform: translate(-50%, -200%);
  background-color: transparent;
  border: 5px solid transparent;
  border-radius: 3ch;
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
  font-family: Montserrat;
  text-transform: uppercase;
  padding: 0.5em 2em;
  box-shadow: 0 0 30px #d8db1abd;
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.back_arrow img{
  width: 12%;  
  height: auto;  
  position: absolute;
  top: 0px;
  left: 0px;
}