<body>
    <div class="container">
      <a href="/polizia"><img src="static/images/police-station.png" alt="meteo" target='_blank'></a>
      <a href="/poste"><img src="static/images/post-office.png" alt="book"></a>
      <a href="/quartieri"><img src="static/images/quartieri.png" alt="calendario"></a>
      <a href="/scuole"><img src="static/images/school.png" alt="meteo" target='_blank'></a>
      <a href="/mezzi"><img src="static/images/train.png" alt="book"></a>
      <a href="/register"><img src="static/images/register.png" alt="calendario"></a>
    </div>
  </body>