<body>
  <!-- dichiarazione del css  -->
  <link rel= "stylesheet" type= "text/css" href= "./static/css/style.css">
  <!-- creazione della classe -->
     <nav>
        <div class="logo">EasyMilano</div>
          <a href="/register"><img src="static/images/register.png" alt="register"></a>
      </nav>
      <section></section>


    
    <div class="container">
      <!-- immagini per le route -->
      <a href="/polizia"><img src="static/images/police-station.png" alt="police" target='_blank'></a>
      <a href="/poste"><img src="static/images/post-office.png" alt="poste"></a>
      <a href="/quartieri"><img src="static/images/quartieri.png" alt="register"></a>
      <a href="/scuole"><img src="static/images/school.png" alt="school" target='_blank'></a>
      <a href="/mezzi"><img src="static/images/train.png" alt="book"></a>
      
    </div>
  </body>