<!DOCTYPE html>
<html lang="en">
<head>
  <link rel= "stylesheet" type= "text/css" href= "./static/css/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <a href="#" class="logo"> EasyMilano</a>
    <li><a href="/register" class="active"><img src="static/images/images route/register.png" alt=""></a></li>
  </header>
  <section>
    <img src="static/images/images home/metro grandeArtboard 1.png" id="metro">
    <img src="static/images/images home/school grandeArtboard 1.png" id="school">
    <img src="static/images/images home/blu grandeArtboard 1.png" alt="blu">
    <h2 id="text">EeasyMilano</h2>
    <img src="static/images/images home/posta grandeArtboard 1.png" id="poste">
 
    

  </section>
  <div class="sec" >
    <!-- immagini per le route -->
    <h1>Scegli cosa Cercare!</h1>
    <p>Pensa poter Cercare e visualizzare in una mappa i punti di interesse vicini a te <br>
    Trovare scuole, Poste, caserme di Polizia e tanto altro nei dintorni. <br>
    EasyMilano fa proprio questo, hai la possibilità di Trovare ciò che vuoi in un range personalizzabile <br>
    Scegliere tra i punti preferiti salvati ed arrivare in un altro punto a scelta personalizzato <br>
    e trovarti tutti i percorsi possibili, evidenziandoti però il percorso migliore <br>
    Facilitati la vita. <br>
    EasyMilano
    </p>
    <h1>Inizia Ora!</h1>
  </div>
<div class="container">
  <li>
    <a href="/polizia"><img src="static/images/images route/police-station.png" alt="police" target='_blank'></a>
    <a href="/poste"><img src="static/images/images route/post-office.png" alt="poste"></a>
    <a href="/quartieri"><img src="static/images/images route/quartieri.png" alt="register"></a>
    <a href="/scuole"><img src="static/images/images route/school.png" alt="school" target='_blank'></a>
    <a href="/mezzi"><img src="static/images/images route/train.png" alt="book"></a>
    
    </li>
</div>
  <script>
    let metro = document.getElementById('metro');
    let school = document.getElementById('school');
    let text= document.getElementById('text');
    let btn= document.getElementById('btn');
    let poste= document.getElementById('poste');
    let blu = document.getElementById('blu');
    let header = document.querySelector('header');


    window.addEventListener('scroll',function(){
      let value = window.scrollY;
      poste.style.down = value * 0.25 + 'px';
      school.style.top = value * 0.35 + 'px';
      text.style.marginRight =  value * 3 + 'px';
      btn.style.marginRight =  value * 1 + 'px';
      header.style.top = value * 0.5 + 'px';
    })
  </script>



</body>
</html>
