
<body>
   <form action="/selezione2">
    <div class="main-container">
        <h2>seleziona la tipologia adatta alla tua ricerca: </h2>
            <div class="radio_button">
                <label class="custom_radio">
                    <input type="radio" name="radio">
                    <span class="radio_btn"><i class="fa-solid fa-check"></i></span>
                    
                </label>
            </div>
    </div>
</form> 
</body>



<!-- <input type="radio" name="radio" value="1">visualizza le poste in quartiere cercato<br>
<input type="radio" name="radio" value="2">visualizza le poste in un range <br>
<input type="radio" name="radio" value="3">visualizza tutte le poste di milano<br>
<input type="radio" name="radio" value="4">visualizza la posta piu vicinia a te <br> 
<p><input type = "submit" value = "Submit"></p>  -->