
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "./static/css/styleposte.css">
    <link rel= "stylesheet" type= "text/css" href= "./static/css/stylebuttondown.css">
</head>
<div class="bc">
    <form action="/selezione" class="radio_b">
        <div class="main-container">
            <div class="radio_button">
                                <!-- primo radio button -->
                <label class="custom_radio">
                    <input type="radio" name="radio" value="1">
                    <span class="radio_btn"><i class="fas fa-check"></i></span>
                    <div class="opt-ricerca">
                        <i class="fas fa mailbox"></i>
                        <h3>visualizza un quartiere</h3>
                    </div>
                </label>
                                <!-- secondo radio button -->
                <label class="custom_radio">
                    <input type="radio" name="radio" value="2">
                    <span class="radio_btn"><i class="fas fa-check"></i></span>
                    <div class="opt-ricerca">
                        <i class="fas fa mailbox"></i>
                        <h3>visualizza i quartieri limitrofi di un quartiere scelto </h3>
                    </div>
                </label>
                
                    <!-- terzo radio button -->
                <label class="custom_radio">
                    <input type="radio" name="radio" value="4">
                    <span class="radio_btn"><i class="fas fa-check"></i></span>
                    <div class="opt-ricerca">
                        <i class="fas fa mailbox"></i>
                        <h3>visualizza il quartiere in cui ti trovi</h3>
                    </div>
                </label>
                    
            </div>
            <p><input type = "submit" value = "Submit"></p>
        </div>
    </form>
</div>
</html>