<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./static/css/styleschool.css">
    <title>Document</title>
</head>
<body>
    <form action="/Gradoselezionato" method = "GET">
         
        <nav class="menu">
            <ol>
            <li class="menu-item">
                <a href="#0">SCEGLI IL GRADO SCOLASTICO CHE TI INTERESSA!</a>
                <ol class="sub-menu">
                        <li class="menu-item" name="grado"><a href="#0" name="grado">Ctp</a></li>
                        <li class="menu-item" name="grado"><a href="#0" name="grado">Istituto Istruzione Primario</a></li>
                        <li class="menu-item" name="grado"><a href="#0" name="grado">Istituto Istruzione Secondario Primo grado</a></li>
                        <li class="menu-item" name="grado"><a href="#0" name="grado">Scuola dell Infanzia</a></li>
                        <li class="menu-item" name="grado"><a href="#0" name="grado">Istituto Istruzione Secondario Secondo grado</a></li>
                        <p><input type = "submit" value = "Submit" /></p>
                </ol>
            </li>
            </ol>
        </nav>

    </form>
</body>
</html>

